@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom scrollbar for the webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #b2b2b2; /* Change this to your desired thumb color */
    border-radius: 50px;
  }